version 5.251.0

framework: auto-detect

group Plotly
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Core ~> 3
    nuget Fable.Browser.Dom ~> 2
    nuget Feliz ~> 1.13
    nuget FSharp.Core >= 4.7.2 lowest_matching: true

group Generator
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fake.IO.FileSystem ~> 5
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget FSharp.Data ~> 3
    
    github plotly/plotly.js:24c740b55bd76ee121c165b54c970787d0a38404 dist/plot-schema.json

group Docs
    source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

    nuget Fable.Browser.Dom ~> 2
    nuget Fable.Core ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Promise ~> 2
    nuget Fable.SimpleHttp ~> 2
    nuget Fable.SimpleJson ~> 3
    nuget Feliz ~> 1.13
    nuget Feliz.Markdown ~> 1
    nuget Feliz.Router ~> 3
    nuget Feliz.UseElmish ~> 1
    nuget FSharp.Core >= 4.7.2 lowest_matching: true
    nuget Zanaptak.TypedCssClasses ~> 0

group Tooling
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5
	nuget FSharp.Core ~> 4.7
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Yarnpkg.Yarn ~> 1

group FakeBuild
	source https://api.nuget.org/v3/index.json

	nuget Fake.Core.Target ~> 5
	nuget Fake.Core.ReleaseNotes ~> 5
	nuget Fake.DotNet.AssemblyInfoFile ~> 5
	nuget Fake.DotNet.Cli ~> 5
	nuget Fake.DotNet.FSFormatting ~> 5
	nuget Fake.DotNet.MSBuild ~> 5
	nuget Fake.DotNet.Paket ~> 5
	nuget Fake.IO.FileSystem ~> 5
    nuget Fake.JavaScript.Yarn ~> 5
	nuget Fake.JavaScript.Npm ~> 5
	nuget Fake.Tools.Git ~> 5
    nuget FSharp.Core ~> 4.7
    nuget FSharp.Json ~> 0
	nuget FSharpLint.Core ~> 0
    nuget Fantomas ~> 3
    nuget NuGet.Packaging 5.6
