type project
licenseExpression https://github.com/Shmew/Feliz.Plotly/blob/master/LICENSE
authors Cody Johnson
description
    Fable bindings written in the Feliz-style for plotly.js
language
    F#
tags
    fsharp, fable, react, visualization, graph, chart
files
    *.fsproj ==> fable
    *.fs ==> fable
    Props/*.fs ==> fable/Props
